.aboutContainer {
    align-items: start;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 55%;
    padding: 20px 24px;
    padding-right: 0;

    h3 {
        padding-left: 20px;
    }

    p {
        font-size: 0.85rem;
        padding-bottom: 20px;
        margin-right: 30%;
    }

    .button {
        margin-top: 20px;
    }
}

.aboutImages {
    width: 45%;
    position: relative;

}

.familyPortrait {
    position: absolute;
    width: 50%;
    top: 40%;
    left: -25%;
    border: 15px solid $white;
}

.aboutLogo {
    position: absolute;
    width: 30%;
    top: 15%;
    left: -15%;
    z-index: 2;
}