$white: #fff;
$black: #000;
$cream: #F7F0E5;
$sand: #DBCFBA;
$goldenHour: #C9994F;
$september: #BF825C;
$crescentBeach: #87594F;
$fir: #5E695E;

$primary: $goldenHour;
$linkHover: $goldenHour;

.portfolio {
    background-color: $cream;
}

.tagline {
    background-color: $crescentBeach;
}

.about, .packages {
    background-color: $sand;
}

footer {
    background-color: $fir;
}

.minis, .testimonials {
    background-color: $white;
}