.contact {
    height: 600px;
    background-image: url(../assets/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.contactContainer {
    display: flex;
    flex-direction: column;
    // padding: 50px;
    // border-radius: 10px;
    // background-color: rgba($color: $fir, $alpha: 0.4);
    h4 {
        color: $white;
        font-size: 1.8rem;
        margin: 0 0 20px;
    }
}