.quoteContainer {
    // background-color: $primary;
    height: 600px;
    color: $white;
    background-image: url(../assets/quote.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
  
    img {
        width: 100px;
    }
}

.quote {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0 25px;
}