.testimonials {
    padding: 0 25px;

}

.loveNotes {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h3 {
        color: $goldenHour;
        text-align: center;
        margin: 50px 0;
    }

    img {
        width: 300px;
    }
}

.noteContent {
    transition: 0.3s;
    height: 100%;
    // padding-bottom: 50px;
    p {
        margin-bottom: 20px ;
    }
}

.noteChange {
    opacity: 0;
    pointer-events: none;
}

.controls {
    color: $goldenHour;
    font-size: 2rem;
    text-align: end;
    margin-right: 30px;

    i {
        margin: 0 10px;
        cursor: pointer;
        transition: 0.3s;
    }

    i:hover {
        color: $crescentBeach;
    }
}

.swiper {
    width: 50%;
    
}
.swiper-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}


.swiper-pagination-bullet-active {
    background: $primary;
}

.swiper-button-next, .swiper-button-prev  {
    left: initial;
    right: initial;
    top: initial;
    bottom: 0;
    z-index: 11;
    color: $white;
    background-color: $primary;
    padding: 20px;
    border-radius: 50%;
    --swiper-navigation-size: 1rem;
}

.swiper-button-next {
    right: 40%;
}

.swiper-button-prev {
    left: 40%;
}
