
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

@font-face {
    font-family: 'DressCode';
    src: url(../fonts/DressCode-Regular.woff);
}

@font-face {
    font-family: 'HarlowDuoScript';
    src: url(../fonts/HarlowDuoScript-Regular.woff);
}



$header: 'DressCode', serif;
$body: 'Lora', serif;
$acent: 'HarlowDuoScript', serif;



html {
    font-size: 125%;
}

body {
    font-family: $body;
    font-weight: 400;
}

.navMenu a, h2, .tagline, button {
    font-family: $header;
    font-weight: 400;
}

h3, .quote {
    font-family: $acent;
    line-height: 200%;
    font-size: 4rem;
    font-weight: 400;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 25px 0;
}

p {
    line-height: 1.3;
}

.button {
    // font-size: 0.8rem;
}